<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
          function return_page(){
            const urlParams = new URLSearchParams(window.location.search);
            const page = urlParams.get('page') || 1;
            return page
          }

          // function windows_adding_search_params(search){
          //   const urlParams = new URLSearchParams(window.location.search);
          //   var string_add = "?query="+search
          //   if(urlParams.get('page') !== null){
          //     string_add = "&query="+search
          //   }
          //   var url = document.location.href+string_add;
          //   document.location = url;
          // }

          load_data({page: return_page()});
          function load_data(params_dict)
          {
           $.ajax({
            url:"/products",
            method:"POST",
            data:params_dict,
            success:function(data)
            {
              $('#result').html(data);
              $("#result").empty().append(data.htmlresponse);
            }
           });
          }

          $('#search_text').keyup(function(){
            var search = $(this).val();
            const page = return_page()
            if(search != ''){
              // windows_adding_search_params(search)
              load_data({query: search,page:page});
           }else{
            load_data({page: page});
           }
          });
        });
        </script>
  </head>
<body>
<div class="container" >
        <input type="text" class="example" name="search_text" id="search_text" placeholder="Search.." name="search">
        <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
    <div id="result">

    </div>
</div>
</body>
</html>
